<!DOCTYPE html>
<html>
<head>
  <title>Mon mini blog</title>
    <%= stylesheet_link_tag 'bootstrap.min' %>
   
    <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
